/*  Fonts */

$body-color: #000;

/* Breakpoints */
$small-xs: 375px;
$small: 720px;
$sTablet: 768px;
$lTablet: 1150px;
$large: 1360px;
$desktop: 721px;

/* colors */

$Base0: #fff;
$Base50: #f6f8fc;
$Base100: #f0f3fa;
$Base200: #ebeef5;
$Base300: #e3e7ef;
$Base400: #cbd0de;
$Base500: #aab0c1;
$Base600: #8089a2;
$Base700: #5c657e;
$Base800: #343b4c;
$Base900: #1f222a;

$black: #202e35;
$Gray: #838a9d;
$Gray700: #43495a;
$Gray600: #636b83;
$Gray400: #aab0c1;
$Gray300: #cbd0de;
$Gray200: #e3e7ef;
$Gray100: #f6f8fc;
$Gray0: #f0f3fa;
$white: #fff;

$Base700: #5c657e;

/* colors Primary */

$Emerald700: #005662;
$Emerald600: #228082;
$Emerald: #2cafa4;
$Emerald400: #4bb6ac;
$Emerald300: #6ec0b8;
$Emerald200: #9dd2cc;
$Emerald100: #bfe7e4;
$Rubin: #e61420;
$Rubin300: #f34d35;

/* colors Secondary */

$Secondary0: #effefc;
$Secondary100: #d4f0ed;
$Secondary200: #aae2db;
$Secondary500: #2ab6a5;
$Secondary600: #219184;

/* colors Primary-Red */

$Red700: #8b2025;
$Red600: #ba2b31;
$Red: #e8363d;
$Red400: #ed5e64;
$Red300: #f1868b;
$Red200: #f6afb1;
$Red100: #fad7d8;

/* colors Primary-Jade */

$Jade700: #196d63;
$Jade600: #219184;
$Jade: #2ab6a5;
$Jade400: #54c4b7;
$Jade300: #7fd3c9;
$Jade200: #aae2db;
$Jade100: #d4f0ed;
$Jade50: #effefc;